{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="ui stackable two column grid">
    <div class="column">
        {{ headers.default(header|trans, configuration.vars.icon|default('pencil'), configuration.vars.subheader|default(null)|trans) }}

        {% include configuration.vars.templates.breadcrumb|default('backend/crud/update/_breadcrumb.html.twig') %}
    </div>
    <div class="middle aligned column">
        {% include configuration.vars.templates.toolbar|default('backend/crud/_toolbar.html.twig') ignore missing %}
    </div>
</div>
