{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "Firefox ESR",
          "IE >= 9",
          "Android >= 4.0",
          "iOS >= 7"
        ]
      },
      "modules": false,
      "exclude": [
        "transform-async-to-generator",
        "transform-regenerator"
      ],
      "useBuiltIns": false
    }]
  ],
  "exclude": "node_modules/**"
}
