/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!var/.gitkeep
/vendor/
/public/bundles/
**/node_modules/*
**/compiled/*

/bin/*
!/bin/console
!/bin/symfony_requirements

.idea
*.DS_Store

###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/uploads/img/*
/public/uploads/avatar/*
!/public/uploads/avatar/.gitkeep
!/public/uploads/img/.gitkeep
/public/media/*
/var/
/vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> infection/infection ###
infection-log.txt
coverage/*
###< infection/infection ###
