/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!var/.gitkeep
/vendor/
/web/bundles/
/web/assets/backend/node_modules/
/web/assets/frontend/node_modules/


/bin/*
!/bin/console
!/bin/symfony_requirements

.idea
*.DS_Store
behat.yml