imports:
    - config/behat/suites.yaml

default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    extensions:
        Robertfausk\Behat\PantherExtension: null

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/src/Monofony/MetaPack/CoreMeta/.recipe/tests/Resources/"
            base_url: "http://127.0.0.1:8090/"
            javascript_session: panther
            sessions:
                default:
                    symfony: ~
                panther:
                    panther:
                       options:
                           port: 8090
                           browser: 'chrome'
                           webServerDir: '%paths.base%/public' # your custom public dir
                       kernel_options:
                            APP_ENV: test
                            APP_DEBUG: false
                       manager_options:
                            connection_timeout_in_ms: 5000
                            request_timeout_in_ms: 120000

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "src/Monofony/MetaPack/CoreMeta/.recipe/features"
                - "src/Monofony/MetaPack/AdminMeta/.recipe/features"
                - "src/Monofony/MetaPack/FrontMeta/.recipe/features"
                - "features"

    gherkin:
        filters:
            tags: "~@todo"
