{
    "timeout": 10,
    "source": {
        "directories": [
            "src/Monofony/Bundle/CoreBundle/Recipe/src",
            "src/Admin/recipe/src",
            "src/Monofony/Bundle/FrontBundle/Recipe/src",
            "src/Monofony/Pack/FixturesPack/Recipe/src",
            "src/Monofony/Pack/ApiPack/Recipe/src"
        ],
        "excludes": [
            "Command",
            "Controller",
            "DependencyInjection",
            "Formatter",
            "Menu",
            "Migrations",
            "Fixture",
            "Form/Type",
            "Kernel.php"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    },
    "testFramework":"phpspec"
}
