{
    "timeout": 10,
    "source": {
        "directories": [
            "src/Monofony/Pack/CorePack/.recipe/src",
            "src/Admin/recipe/src",
            "src/Monofony/Pack/FrontPack/.recipe/src",
            "src/Monofony/Pack/FixturesPack/.recipe/src",
            "src/Monofony/Pack/ApiPack/.recipe/src"
        ],
        "excludes": [
            "Command",
            "Controller",
            "DependencyInjection",
            "Formatter",
            "Menu",
            "Migrations",
            "Fixture",
            "Form/Type",
            "Kernel.php"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    },
    "testFramework":"phpspec"
}
