composer-install-default:
	composer install --no-interaction

app-install-default:
	bin/console app:install -n

fixtures-load-default:
	bin/console sylius:fixtures:load default --no-interaction

yarn-install-default:
	yarn install

yarn-build-default:
	yarn build

%:  %-default
	@  true
