includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    paths:
        - src

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        # Makes PHPStan crash
        - '**/DependencyInjection/Configuration.php'

        # Test dependencies
        - '**/spec/**.php'

        # Grids
        - '**/Grid/**.php'

        # These packages aren't in require-dev of the global package
        - '**MongoDB**'
        - '**ODM**'

    ignoreErrors:
        # Magic calls
        - '/Call to an undefined static method Webmozart\\Assert\\Assert::all/'
        - '/Call to an undefined static method Webmozart\\Assert\\Assert::nullOr/'
        - '/Call to an undefined method Faker\\Generator::/'
        - '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::/'
        - '/Access to an undefined property Faker\\Generator::/'
        - '/Method Mockery\\MockInterface::shouldReceive\(\) invoked with 1 parameter, 0 required/'
        - '/App\\Entity\\User\\AdminUser implements the Serializable interface/'
        - '/App\\Entity\\User\\AppUser implements the Serializable interface/'

        # These packages aren't in require-dev of the global package
        - '/Class Doctrine\\Bundle\\MongoDBBundle/'
        - '/Class Doctrine\\Bundle\\PHPCRBundle/'
