includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 4
    paths:
        - src

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - src/Monofony/MetaPack

        # Makes PHPStan crash
        - '**/DependencyInjection/Configuration.php'

        # Test dependencies
        - '**/spec/**.php'

        # Vendor files in subpackages
        - '**/Bundle/*/vendor/**.php'
        - '**/Component/*/vendor/**.php'

        # Grids
        - '**/Grid/**.php'

        # These packages aren't in require-dev of the global package
        - '**MongoDB**'
        - '**ODM**'
