suites:
    # Bridges
    FOSOAuthServerBridge: { namespace: Monofony\Bridge\FOSOAuthServer, psr4_prefix: Monofony\Bridge\FOSOAuthServer, spec_path: src/Monofony/Bridge/FOSOAuthServer, src_path: src/Monofony/Bridge/FOSOAuthServer }
    SyliusUserBridge: { namespace: Monofony\Bridge\SyliusUser, psr4_prefix: Monofony\Bridge\SyliusUser, spec_path: src/Monofony/Bridge/SyliusUser, src_path: src/Monofony/Bridge/SyliusUser }

    # Bundles
    CoreBundle: { namespace: Monofony\Bundle\CoreBundle, psr4_prefix: Monofony\Bundle\CoreBundle, spec_path: src/Monofony/Bundle/CoreBundle, src_path: src/Monofony/Bundle/CoreBundle }

    # Components
    Admin: { namespace: Monofony\Component\Admin, psr4_prefix: Monofony\Component\Admin, spec_path: src/Monofony/Component/Admin, src_path: src/Monofony/Component/Admin }

    # Packs
    AdminPack.recipe: { spec_path: src/Monofony/Pack/AdminPack/.recipe, src_path: src/Monofony/Pack/AdminPack/.recipe }
    ApiPack.recipe: { spec_path: src/Monofony/Pack/ApiPack/.recipe, src_path: src/Monofony/Pack/ApiPack/.recipe }
    CorePack.recipe: { spec_path: src/Monofony/Pack/CorePack/.recipe, src_path: src/Monofony/Pack/CorePack/.recipe }
