suites:
    CoreBundle: { namespace: Monofony\Bundle\CoreBundle, psr4_prefix: Monofony\Bundle\CoreBundle, spec_path: src/Monofony/Bundle/CoreBundle, src_path: src/Monofony/Bundle/CoreBundle }
    CoreBundleRecipe: { spec_path: src/Monofony/Bundle/CoreBundle/Recipe, src_path: src/Monofony/Bundle/CoreBundle/Recipe }
    Core: { spec_path: src/Core/recipe, src_path: src/Core/recipe/src }
    Admin: { spec_path: src/Admin/recipe, src_path: src/Admin/recipe/src }
    AdminBundle: { namespace: Monofony\Bundle\AdminBundle, psr4_prefix: Monofony\Bundle\AdminBundle, spec_path: src/Monofony/Bundle/AdminBundle, src_path: src/Monofony/Bundle/AdminBundle }
    AdminBundleRecipe: { spec_path: src/Monofony/Bundle/AdminBundle/Recipe, src_path: src/Monofony/Bundle/AdminBundle/Recipe }

extensions:
    LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension:
        whitelist:
            - src/Monofony/Bundle/CoreBundle/Recipe/src
            - src/Admin/recipe/src
