suites:
    Core: { spec_path: src/CorePack/recipe, src_path: src/CorePack/recipe/src }
    Backend: { spec_path: src/AdminPack/recipe, src_path: src/AdminPack/recipe/src }

extensions:
    LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension:
        whitelist:
            - src/CorePack/recipe/src
            - src/AdminPack/recipe/src
