parameters:
    paths:
        - .recipe
    excludePaths:
        - 'vendor/**.php'
        - '**/spec/**.php'
        - .recipe/src/Dashboard/Statistics/CustomerStatistic.php
        - .recipe/src/Grid/**.php
