parameters:
    paths:
        - ../../MetaPack/AdminMeta/.recipe
    excludePaths:
        - 'vendor/**.php'
        - '**/spec/**.php'
        - '../../MetaPack/AdminMeta/.recipe/src/Dashboard/Statistics/CustomerStatistic.php'
        - '../../MetaPack/AdminMeta/.recipe/src/Grid/**.php'
