{% extends 'frontend/layout.html.twig' %}

{% import 'frontend/macro/pagination.html.twig' as pagination %}

{% block bodyClass %}addresses{% endblock %}

{% block content %}

    <div id="address-list" class="row text-center">
        {% for address in addresses.data %}
            <div class="small-12 medium-4 column">
                <img src="http://placehold.it/200x150">

                <address>
                    {{ address.street }}<br />
                    {{ address.postcode }} {{ address.city }}
                </address>
            </div>
        {% endfor %}
    </div>

    {{ pagination.render(addresses.data) }}
{% endblock %}