sylius_grid:
    grids:
        sylius_backend_customer_group:
            driver:
                name: doctrine/orm
                options:
                    class: "%sylius.model.customer_group.class%"
            sorting:
                name: asc
            fields:
                name:
                    type: string
                    label: sylius.ui.name
                    sortable: name
            filters:
                search:
                    type: string
                    label: sylius.ui.search
                    options:
                        fields: [name]
            actions:
                main:
                    create:
                        type: create
                item:
                    update:
                        type: update
                    delete:
                        type: delete