{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <h1>{{ 'sylius.ui.change_password'|trans }}</h1>
    <h2>{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</h2>

    <div class="row">
        <div class="medium-8 column">
            {% include 'frontend/account/change_password/_form.html.twig' %}
        </div>
        <div class="medium-4 column">
            {% include 'frontend/account/_sidebar.html.twig' with {'active': 'change-password'} %}
        </div>
    </div>
{% endblock %}