<div class="ui grid">
    <div class="center aligned doubling four column row">
        <div class="column">
            <a href="{{ path('sylius_backend_customer_index') }}" class="ui basic big fluid button">
                <i class="users icon"></i>
                {{ 'sylius.ui.customers'|trans }}
            </a>
        </div>
        <div class="column">
            <a href="{{ path('sylius_backend_admin_user_index') }}" class="ui basic big fluid button">
                <i class="lock icon"></i>
                {{ 'sylius.ui.admin_users'|trans }}
            </a>
        </div>
    </div>
</div>
