<div class="ui grid">
    <div class="center aligned doubling four column row">
        <div class="column">
            <div class="ui blue segment">
                <div class="ui small statistic">
                    <div id="new-customers" class="value" style="padding-bottom: 10px;">
                        {{ statistics.numberOfNewCustomers }}
                    </div>
                    <div class="label">
                        {{ 'sylius.ui.customers'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
