{% block subject %}
    Password reset
{% endblock %}

{% block body %}
    {% set url = '#' %}
    {# Uncomment if you have monofony/front-pack installed #}
    {#{% set url = url('app_frontend_password_reset', { 'token': user.passwordResetToken}) %}#}
    {% autoescape %}
        <h3>Hello {{ user.username }}</h3>

        To reset your password - please visit <a href="{{ url|raw }}">{{ url|raw }}</a>
        <br/><br/>
        Regards, the Team.
    {% endautoescape %}
{% endblock %}
