parameters:
    level: 4
    paths:
        - ./
    excludePaths:
        - 'vendor/**.php'

    ignoreErrors:
        - '/Call to an undefined method Sylius\\Component\\User\\Model\\UserInterface::getRoles\(\)/'
