input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea,
select,
.select {
  @include placeholder {
    color: lighten($light-gray, 20%);
    font-size: rem-calc(13);
  }
}

select {
  color: darken($medium-gray, 20%);
  border-radius: 3px;
  font-size: rem-calc(13);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
  border-radius: 2px;
  font-weight: 600;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"] {
  height: 42px;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem-calc(12);
  color: $dark-gray;
}

label {
  & + input[type="text"],
  & + input[type="password"],
  & + input[type="email"],
  & + input[type="date"],
  & + input[type="number"],
  & + textarea,
  & + select,
  & + .select {
  }
}

.file-upload {
  button {
    background-color: $primary-color;
  }
}

.file-uploads {
  .file-upload-button {
    position: relative;
    .button-upload {
      width: 100%;
    }
    input {
      @extend .button;
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      padding: 0;
    }
  }
  .file-upload-preview {
    .post-image-preview {

    }
  }
}

label[for="file-input"] {
  display: block;
  font-size: 12px;
  color: $dark-gray;
  font-weight: 700;
}

input[type="file"] {

  cursor: pointer;

  &::-webkit-file-upload-button {
    background: lighten($light-gray, 20%);;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
  }

  &::-ms-browse {
    background: lighten($light-gray, 20%);;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
  }

}

/*----------------- Select ---------------------*/

select {
  option {
    padding: 10px;
  }
}

/*----------------- Custom Checkbox & Radio ---------------------*/

[type="checkbox"]:not(:checked), [type="radio"]:not(:checked),
[type="checkbox"]:checked, [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label, [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  left: -10px;
  cursor: pointer;
  margin-bottom: 15px;
  color: darken($medium-gray, 10%);
  text-transform: capitalize;
  transition: color 0.2s ease;
}

[type="checkbox"]:checked + label, [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  left: -10px;
  cursor: pointer;
  margin-bottom: 15px;
  color: darken($medium-gray, 50%);
  text-transform: capitalize;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before, [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 22px;
  height: 22px;
  border: 1px solid $medium-gray;
  border-radius: 2px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after, [type="radio"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after, [type="radio"]:checked + label:after {
  content: "\e904";
  font-family: "icomoon";
  color: $primary-color;
  font-size: rem-calc(8);
  position: absolute;
  top: 3px;
  left: 6px;
  transition: all 0.2s ease;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after, [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after, [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before, [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: $medium-gray;
  background-color: $light-gray;
}

[type="checkbox"]:disabled:checked + label:after, [type="radio"]:disabled:checked + label:after {
  color: $medium-gray;
}

[type="checkbox"]:disabled + label, [type="radio"]:disabled + label {
  color: $medium-gray;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before, [type="radio"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before, [type="radio"]:not(:checked):focus + label:before {

}

form .required.field > .checkbox:after,
form .required.field > label:after,
form .required.fields.grouped > label:after,
form .required.fields:not(.grouped) > .field > .checkbox:after,
form .required.fields:not(.grouped) > .field > label:after {
  margin: -0.2em 0 0 .2em;
  content: '*';
}

.field {
  &.error {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    input[type="number"],
    textarea,
    select,
    .nice-select {
      border: 1px solid $alert-color;
    }
  }
}

.label.error {
  background: $alert-color;
  color: $white;
  margin-bottom: 20px;
  border-radius: 5px;
  white-space: normal;
}
