<div class="center aligned four wide column">
    <div class="ui blue segment">
        <div class="ui small statistic">
            <div id="new-customers" class="value" style="padding-bottom: 10px;">
                {{ amountOfCustomers }}
            </div>
            <div class="label">
                {{ 'sylius.ui.customers'|trans }}
            </div>
        </div>
    </div>
</div>
