<div class="item">
    <div class="header">{{ 'sylius.ui.customer'|trans }}</div>
    <div class="menu">
        <a href="#" class="item">
            <i class="users icon"></i>
            {{ 'sylius.ui.customers'|trans }}
        </a>
        <a href="#" class="item">
            <i class="archive icon"></i>
            {{ 'sylius.ui.customer_groups'|trans }}
        </a>
    </div>
</div>
