{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="medium-8 column">
            {% include 'frontend/account/change_password/_form.html.twig' %}
        </div>
        <div class="medium-4 column">
            {% include 'frontend/account/_sidebar.html.twig' with {'active': 'change-password'} %}
        </div>
    </div>
{% endblock %}