<div class="footer">
    <div class="row align-middle text-center">
        <div class="small-12 column">
            <div class="copyright">AppName {{ 'now'|date('Y') }}</div>
            <div class="legal-notices">{{ 'app.text.legal_notices'|trans }} - <a href="#">{{ 'app.ui.legal_notices'|trans }}</a></div>
        </div>
    </div>
</div>