<div class="ui basic segment">
    <div class="ui three column stackable grid">
        <div class="column">
            <a href="{{ path('app_frontend_homepage') }}"><img src="{{ asset('assets/frontend/img/logo.png', 'frontend') }}" alt="Sylius logo" class="ui small image" /></a>
        </div>
        <div class="column">
        </div>
        <div class="right aligned column">
        </div>
    </div>
</div>