includes:
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    paths:
        - ../../MetaPack/CoreMeta/.recipe
    excludePaths:
        - 'vendor/**.php'
        - '**/spec/**.php'
