includes:
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    paths:
        - ../../MetaPack/CoreMeta/.recipe
    excludePaths:
        - 'vendor/**.php'
        - '**/spec/**.php'

    ignoreErrors:
        - '/Symfony\\Component\\Security\\Core\\User\\AdvancedUserInterface not found./'
