@font-face {
    font-family: 'Inter regular';
    src: url('../assets/fonts/inter-regular.woff2') format('woff2'),
         url('../assets/fonts/inter-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Inter bold';
    src: url('../assets/fonts/inter-bold.woff2') format('woff2'),
         url('../assets/fonts/inter-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
