.footer-navigation {
  background-color: lighten($dark-gray, 10%);
  padding: 20px;

  ul {
    margin: 20px 0 0 0;
    list-style-type: none;
  }

  a {
    font-size: rem-calc(13);
    text-transform: uppercase;
    color: white;
    letter-spacing: rem-calc(0.72);
  }

  @include breakpoint(medium up) {
    > .row {
      height: 110px;

      ul {
        display: block;
        margin: 0;

        > li {
          display: table-cell;
          vertical-align: middle;

          > a {
            display: block;
            padding: 0.7rem 1rem;
            line-height: 1;
            transition: all 0.25s ease;
            &:hover{
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $dark-gray;

  color: white;
  padding: 12px;

  .copyright {
    font-size: rem-calc(13);
    font-weight: 700;
    text-transform: uppercase;
  }

  .legal-notices {
    font-size: rem-calc(11);

    a {
      color: white;
      text-decoration: underline;
    }
  }
}
